<h1>Signup Page</h1>
<%=form_for(@user) do |f| %>
<br>
<%=show_errors(@user, :name)%>
<%=f.label :name%>
<%=f.text_field :name%>
<br>
    <br>
<%=show_errors(@user, :email)%>
<%=f.label :email%>
<%=f.email_field :email%>
<br>
    <br>
<%=show_errors(@user, :password)%>
<%=f.label :password%>
<%=f.password_field :password%>
<br>
<%=f.submit "Submit"%>
<% end %>