<h1>Welcome Back <%=@user.name.capitalize%>!</h1>
<h2>Current Email: <%=@user.email%></h2>
<h2>Current Goal: <%=@user.goal%></h2>
<br>
<%@user.schedules.each do |s|%>
<br>
<%=link_to s.title, schedule_path(s)%>
<%end%>
<%=link_to "Logout", logout_path, method: "delete"%>
<br>
<%=link_to "Edit Profile", edit_user_path%>
<br>
<%=link_to "Create new schedule", new_schedule_path%>
<br>
